variables:
  REGISTRY: registry.mymiggi.de
  ROOT_IMAGE: $REGISTRY/miggiv2/voc-trainer

stages:
  - build
  - test
  - deploy

before_script:
  # Rootless Docker
  - export XDG_RUNTIME_DIR=/home/gitlab-runner/.docker/run
  - export PATH=/home/gitlab-runner/bin:$PATH
  - export DOCKER_HOST=unix:///home/gitlab-runner/.docker/run/docker.sock
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $REGISTRY

build-job:
  stage: build
  script:
    - cd auth
    - ./mvnw clean package -DskipTests
    - cd ../api
    - ./mvnw clean package -DskipTests
    - cd target/quarkus-app/
    - docker build ../.. -t $ROOT_IMAGE/api
    - cd ../../../auth/target/quarkus-app/
    - docker build ../.. -t $ROOT_IMAGE/auth
    - cd ../../../gui/
    - docker build . -t $ROOT_IMAGE/gui

deploy-job:
  stage: deploy
  script:
    - docker push $ROOT_IMAGE/gui
    - docker push $ROOT_IMAGE/auth
    - docker push $ROOT_IMAGE/api