:root {
    --background-color-secondary: #f1f1f1;
    --background-color-primary: #fafafa;
    --accent-color: #fafafa;
    --accent-color-2: #222;
    --text-primary-color: #222;
    --text-secondary-color: rgb(92, 92, 92);
    --mode: "light";
}

:root.dark-mode {
    --background-color-primary: #202225;
    --background-color-secondary: #2F3136;
    --accent-color: #36393F;
    --accent-color-2: #36393F;
    --text-primary-color: #ddd;
    --text-secondary-color: rgb(173, 173, 173);
    --mode: "dark";
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-primary-color) !important;
}

.box-wrapped {
    max-width: 50rem;
    margin: auto;
}

.box-md {
    max-width: 40rem;
}

.box-xl {
    max-width: 50rem;
}

.box-sm {
    max-width: 22rem;
}

.box {
    color: var(--text-primary-color);
    background-color: var(--accent-color);
    border: solid 1px var(--accent-color-2);
    max-width: 98%;
    margin: 2rem auto;
    padding: 12px;
    border-radius: 5px 10px;
}

.modal-content {
    color: var(--text-primary-color);
    background-color: var(--accent-color);
    border: solid 1px var(--accent-color-2);
}

.dropdown-menu {
    color: var(--text-primary-color);
    background-color: var(--accent-color);
    border: solid 1px var(--text-primary-color);
}

.dropdown-item{
    color: unset;
}