body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box-wrapped {
    max-width: 50rem;
    margin: auto;
}

.box-md {
    max-width: 40rem;
}

.box-xl {
    max-width: 50rem;
}

.box-sm {
    max-width: 22rem;
}

.box {
    border: solid 1px black;
    max-width: 98%;
    margin: 2rem auto;
    padding: 15px 15px 5px;
    border-radius: 5px 10px;
}

.box-wrapped :hover hr{
    background-color: white;
}

.box-wrapped hr{
    background-color: black;
}

.box-wrapped :hover {
    background-color: rgb(24, 24, 24);
    color: white;
}